@import "defaults.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap");

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  color: #1f2937;
}

header,
main section,
footer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 96px;
}

header,
footer {
  padding: 16px 96px;
}

.bg-dark {
  background-color: #1f2937;
}

.bg-grey {
  background-color: #e5e7eb;
}

.main-title {
  font-weight: 900;
}

.sub-title {
  font-size: 24px;
  font-weight: 500;
}

.muted-text {
  color: #e5e7eb;
  font-size: 18px;
}

.btn {
  display: inline-block;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5px 25px;
  border-radius: 3px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  gap: 32px;
}

.nav__logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero .main-title {
  font-size: 48px;
  color: #f9faf8;
}

.feature .main-title {
  font-size: 36px;
}

.testimonial__content {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.cta__banner {
  background-color: #3882f6;
}

.cta .sub-title {
  color: #f9faf8;
}

.cta .btn {
  border: 1px solid #f9faf8;
}
